body {
    font-family: 'Times New Roman', Times, serif;
    background: rgb(129,1,1);
    background: radial-gradient(circle, rgba(129,1,1,1) 0%, rgba(171,33,64,1) 29%, rgba(189,82,105,1) 54%, rgba(44,44,44) 100%);
}

h1 {
    padding-left:auto;
    padding-right:auto;
    font: size 300px;
    font-weight:900;
}

.gamelist {
    padding-up: 40px;
    padding-left: 20px;
    font: 100px;
}